In [68]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [69]:
ds=pd.read_csv('daily_MSFT.csv',index_col="timestamp",parse_dates=True)

In [70]:
ds.head()

              open    high     low   close    volume
timestamp
2019-01-02   99.55  101.75   98.94  101.12  35329345
2018-12-31  101.29  102.40  100.44  101.57  33173765
2018-12-28  102.09  102.41   99.52  100.39  38169312
2018-12-27   99.30  101.19   96.40  101.18  49498509
2018-12-26   95.14  100.69   93.96  100.56  51634793

In [71]:
ds.isna().any()

open      False
high      False
low       False
close     False
volume    False
dtype: bool

In [72]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5284 entries, 2019-01-02 to 1998-01-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    5284 non-null   float64
 1   high    5284 non-null   float64
 2   low     5284 non-null   float64
 3   close   5284 non-null   float64
 4   volume  5284 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 247.7 KB

In [73]:
ds['open'].plot(figsize=(16,10))
plt.show()

In [74]:
ds["close"]=ds['close'].astype(str).str.replace(',','').astype(float)

In [75]:
ds["volume"]=ds['volume'].astype(str).str.replace(',','').astype(float)

In [76]:
ds.head()

              open    high     low   close      volume
timestamp
2019-01-02   99.55  101.75   98.94  101.12  35329345.0
2018-12-31  101.29  102.40  100.44  101.57  33173765.0
2018-12-28  102.09  102.41   99.52  100.39  38169312.0
2018-12-27   99.30  101.19   96.40  101.18  49498509.0
2018-12-26   95.14  100.69   93.96  100.56  51634793.0

In [77]:
ds.rolling(7).mean().head(20)

                  open        high         low       close        volume
timestamp
2019-01-02         NaN         NaN         NaN         NaN           NaN
2018-12-31         NaN         NaN         NaN         NaN           NaN
2018-12-28         NaN         NaN         NaN         NaN           NaN
2018-12-27         NaN         NaN         NaN         NaN           NaN
2018-12-26         NaN         NaN         NaN         NaN           NaN
2018-12-24         NaN         NaN         NaN         NaN           NaN
2018-12-21   99.525714  101.344286   97.242857   99.597143  5.185471e+07
2018-12-20  100.025714  101.710000   97.220000   99.652857  5.685540e+07
2018-12-19  100.362857  102.350000   97.350000   99.955714  6.185889e+07
2018-12-18  100.600000  102.650000   97.778571  100.467143  6.345173e+07
2018-12-17  101.472857  103.308571   98.537143  100.711429  6.451728e+07
2018-12-14  103.345714  104.532857  100.185714  101.492857  6.386133e+07
2018-12-13  105.045714  106.375714  102.278571  103.681429  6.206106e+07
2018-12-12  106.368571  107.557143  103.932857  105.231429  5.133834e+07
2018-12-11  107.332857  108.505714  105.170000  106.242857  4.734517e+07
2018-12-10  107.497143  108.662857  105.532857  106.800000  4.343136e+07
2018-12-07  108.158571  109.368571  105.787143  106.921429  4.282075e+07
2018-12-06  108.217143  109.860000  106.257143  107.821429  4.169934e+07
2018-12-04  108.744286  110.342471  106.644500  108.177143  4.143560e+07
2018-12-03  109.232857  110.706757  106.944500  108.554286  4.192123e+07

In [78]:
ds['open'].plot(figsize=(16,6))
ds.rolling(window=30).mean()['close'].plot()
pylab.show()

In [79]:
ds['close: 30 day mean']=ds['close'].rolling(window=30).mean()
ds[['close','close: 30 day mean']].plot(figsize=(16,6))

In [80]:
ds['close'].expanding(min_periods=1).mean().plot(figsize=(16,6))

In [81]:
training_set=ds['open']
training_set=pd.DataFrame(training_set)

In [82]:
#feature scaling

from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler(feature_range=(0,1))
training_set_scaled=sc.fit_transform(training_set)

In [83]:
x_train=[]
y_train=[]
for i in range(60,1258):
    x_train.append(training_set_scaled[i-60:i,0])
    y_train.append(training_set_scaled[i,0])
x_train,y_train =np.array(x_train),np.array(y_train)

x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))

In [84]:
#RNN

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [85]:
regressor=Sequential()

In [86]:
regressor.add(LSTM(units=50,return_sequences=True,input_shape=(x_train.shape[1],1)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units=50,return_sequences=True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units=50,return_sequences=True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units=50))
regressor.add(Dropout(0.2))

regressor.add(Dense(units=1))

In [87]:
regressor.compile(optimizer='adam',loss='mean_squared_error')

regressor.fit(x_train,y_train,epochs=100,batch_size=32)

Epoch 1/100
38/38 [==============================] - 12s 115ms/step - loss: 0.0121
Epoch 2/100
38/38 [==============================] - 3s 79ms/step - loss: 0.0013
Epoch 3/100
38/38 [==============================] - 3s 79ms/step - loss: 0.0013
Epoch 4/100
38/38 [==============================] - 3s 86ms/step - loss: 0.0012
Epoch 5/100
38/38 [==============================] - 4s 118ms/step - loss: 0.0010ETA: 1s - loss: 9.6 - ETA: 0s - loss:
Epoch 6/100
38/38 [==============================] - 4s 104ms/step - loss: 9.8287e-04
Epoch 7/100
38/38 [==============================] - 4s 94ms/step - loss: 8.1240e-04
Epoch 8/100
38/38 [==============================] - 3s 83ms/step - loss: 9.3470e-04
Epoch 9/100
38/38 [==============================] - 4s 101ms/step - loss: 8.8783e-04
Epoch 10/100
38/38 [==============================] - 4s 94ms/step - loss: 8.5092e-04
Epoch 11/100
38/38 [==============================] - 3s 82ms/step - loss: 0.0010
Epoch 12/100
38/38 [==============================] - 4s 98ms/step - loss: 8.7582e-04
Epoch 13/100
38/38 [==============================] - 4s 115ms/step - loss: 8.2854e-04
Epoch 14/100
38/38 [==============================] - 3s 80ms/step - loss: 9.1585e-04
Epoch 15/100
38/38 [==============================] - 3s 80ms/step - loss: 8.9797e-04
Epoch 16/100
38/38 [==============================] - 3s 79ms/step - loss: 7.5810e-04
Epoch 17/100
38/38 [==============================] - 3s 80ms/step - loss: 7.4038e-04
Epoch 18/100
38/38 [==============================] - 3s 79ms/step - loss: 5.9468e-04
Epoch 19/100
38/38 [==============================] - 3s 80ms/step - loss: 6.9844e-04
Epoch 20/100
38/38 [==============================] - 3s 81ms/step - loss: 6.4062e-04
Epoch 21/100
38/38 [==============================] - 3s 79ms/step - loss: 6.1245e-04
Epoch 22/100
38/38 [==============================] - 3s 80ms/step - loss: 6.8499e-04
Epoch 23/100
38/38 [==============================] - 3s 82ms/step - loss: 5.9153e-04
Epoch 24/100
38/38 [==============================] - 3s 79ms/step - loss: 5.9600e-04
Epoch 25/100
38/38 [==============================] - 3s 80ms/step - loss: 6.5585e-04
Epoch 26/100
38/38 [==============================] - 3s 80ms/step - loss: 5.4911e-04
Epoch 27/100
38/38 [==============================] - 4s 108ms/step - loss: 5.5332e-04
Epoch 28/100
38/38 [==============================] - 3s 88ms/step - loss: 6.1102e-04
Epoch 29/100
38/38 [==============================] - 3s 79ms/step - loss: 6.4246e-04
Epoch 30/100
38/38 [==============================] - 3s 78ms/step - loss: 6.8742e-04
Epoch 31/100
38/38 [==============================] - 3s 79ms/step - loss: 5.4422e-04
Epoch 32/100
38/38 [==============================] - 4s 98ms/step - loss: 5.5290e-04
Epoch 33/100
38/38 [==============================] - 3s 89ms/step - loss: 5.0895e-04
Epoch 34/100
38/38 [==============================] - 3s 80ms/step - loss: 5.4020e-04
Epoch 35/100
38/38 [==============================] - 3s 80ms/step - loss: 5.3782e-04
Epoch 36/100
38/38 [==============================] - 3s 78ms/step - loss: 5.7399e-04
Epoch 37/100
38/38 [==============================] - 3s 77ms/step - loss: 4.9213e-04
Epoch 38/100
38/38 [==============================] - 3s 76ms/step - loss: 5.2420e-04
Epoch 39/100
38/38 [==============================] - 3s 78ms/step - loss: 4.5206e-04
Epoch 40/100
38/38 [==============================] - 3s 76ms/step - loss: 4.6791e-04
Epoch 41/100
38/38 [==============================] - 3s 78ms/step - loss: 4.8029e-04
Epoch 42/100
38/38 [==============================] - 3s 78ms/step - loss: 4.7001e-04
Epoch 43/100
38/38 [==============================] - 3s 78ms/step - loss: 4.6215e-04
Epoch 44/100
38/38 [==============================] - 3s 79ms/step - loss: 4.2654e-04
Epoch 45/100
38/38 [==============================] - 3s 78ms/step - loss: 4.7551e-04
Epoch 46/100
38/38 [==============================] - 3s 81ms/step - loss: 4.3721e-04
Epoch 47/100
38/38 [==============================] - 3s 79ms/step - loss: 4.5974e-04
Epoch 48/100
38/38 [==============================] - 3s 79ms/step - loss: 4.5521e-04
Epoch 49/100
38/38 [==============================] - 3s 80ms/step - loss: 4.2900e-04
Epoch 50/100
38/38 [==============================] - 3s 79ms/step - loss: 4.1947e-04
Epoch 51/100
38/38 [==============================] - 3s 80ms/step - loss: 3.8208e-04
Epoch 52/100
38/38 [==============================] - 3s 80ms/step - loss: 4.1787e-04
Epoch 53/100
38/38 [==============================] - 3s 86ms/step - loss: 3.5839e-04
Epoch 54/100
38/38 [==============================] - 3s 88ms/step - loss: 4.0310e-04
Epoch 55/100
38/38 [==============================] - 3s 87ms/step - loss: 4.1060e-04
Epoch 56/100
38/38 [==============================] - 3s 86ms/step - loss: 3.7941e-04
Epoch 57/100
38/38 [==============================] - 3s 88ms/step - loss: 4.6441e-04
Epoch 58/100
38/38 [==============================] - 3s 88ms/step - loss: 3.5728e-04
Epoch 59/100
38/38 [==============================] - 3s 88ms/step - loss: 3.9670e-04
Epoch 60/100
38/38 [==============================] - 3s 88ms/step - loss: 3.7993e-04
Epoch 61/100
38/38 [==============================] - 4s 93ms/step - loss: 3.6368e-04
Epoch 62/100
38/38 [==============================] - 3s 86ms/step - loss: 3.8909e-04
Epoch 63/100
38/38 [==============================] - 3s 88ms/step - loss: 3.7318e-04
Epoch 64/100
38/38 [==============================] - 3s 89ms/step - loss: 3.4113e-04
Epoch 65/100
38/38 [==============================] - 3s 87ms/step - loss: 3.3528e-04
Epoch 66/100
38/38 [==============================] - 3s 88ms/step - loss: 3.7011e-04
Epoch 67/100
38/38 [==============================] - 5s 124ms/step - loss: 3.4295e-04
Epoch 68/100
38/38 [==============================] - 4s 111ms/step - loss: 3.5335e-04
Epoch 69/100
38/38 [==============================] - 3s 81ms/step - loss: 3.5151e-04
Epoch 70/100
38/38 [==============================] - 3s 87ms/step - loss: 3.9185e-04
Epoch 71/100
38/38 [==============================] - 3s 87ms/step - loss: 3.5707e-04
Epoch 72/100
38/38 [==============================] - 3s 88ms/step - loss: 3.0465e-04
Epoch 73/100
38/38 [==============================] - 3s 88ms/step - loss: 3.2259e-04
Epoch 74/100
38/38 [==============================] - 3s 88ms/step - loss: 3.4647e-04
Epoch 75/100
38/38 [==============================] - 3s 87ms/step - loss: 2.8710e-04
Epoch 76/100
38/38 [==============================] - 3s 88ms/step - loss: 3.3164e-04
Epoch 77/100
38/38 [==============================] - 4s 92ms/step - loss: 3.1933e-04
Epoch 78/100
38/38 [==============================] - 3s 90ms/step - loss: 2.6798e-04
Epoch 79/100
38/38 [==============================] - 3s 88ms/step - loss: 3.1170e-04
Epoch 80/100
38/38 [==============================] - 3s 88ms/step - loss: 3.2483e-04
Epoch 81/100
38/38 [==============================] - 3s 80ms/step - loss: 3.0485e-04
Epoch 82/100
38/38 [==============================] - 3s 89ms/step - loss: 3.1734e-04
Epoch 83/100
38/38 [==============================] - 3s 87ms/step - loss: 3.2540e-04
Epoch 84/100
38/38 [==============================] - 3s 87ms/step - loss: 2.6550e-04
Epoch 85/100
38/38 [==============================] - 3s 88ms/step - loss: 2.6393e-04
Epoch 86/100
38/38 [==============================] - 3s 91ms/step - loss: 2.6857e-04
Epoch 87/100
38/38 [==============================] - 3s 87ms/step - loss: 2.7271e-04
Epoch 88/100
38/38 [==============================] - 3s 88ms/step - loss: 2.9086e-04
Epoch 89/100
38/38 [==============================] - 3s 88ms/step - loss: 2.9682e-04
Epoch 90/100
38/38 [==============================] - 3s 87ms/step - loss: 2.4270e-04
Epoch 91/100
38/38 [==============================] - 3s 88ms/step - loss: 2.7992e-04
Epoch 92/100
38/38 [==============================] - 3s 88ms/step - loss: 2.9461e-04
Epoch 93/100
38/38 [==============================] - 3s 87ms/step - loss: 2.9074e-04
Epoch 94/100
38/38 [==============================] - 3s 88ms/step - loss: 2.7589e-04
Epoch 95/100
38/38 [==============================] - 3s 88ms/step - loss: 2.7306e-04
Epoch 96/100

38/38 [==============================] - 3s 76ms/step - loss: 2.8011e-04
Epoch 97/100
38/38 [==============================] - 3s 77ms/step - loss: 2.9814e-04
Epoch 98/100
38/38 [==============================] - 3s 76ms/step - loss: 3.2183e-04
Epoch 99/100
38/38 [==============================] - 3s 79ms/step - loss: 2.7895e-04
Epoch 100/100
38/38 [==============================] - 3s 88ms/step - loss: 2.8709e-04

In [96]:
stock_price=ds.iloc[:1,:2].values
ds.head()

              open    high     low   close      volume  close: 30 day mean
timestamp
2019-01-02   99.55  101.75   98.94  101.12  35329345.0                 NaN
2018-12-31  101.29  102.40  100.44  101.57  33173765.0                 NaN
2018-12-28  102.09  102.41   99.52  100.39  38169312.0                 NaN
2018-12-27   99.30  101.19   96.40  101.18  49498509.0                 NaN
2018-12-26   95.14  100.69   93.96  100.56  51634793.0                 NaN

In [97]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5284 entries, 2019-01-02 to 1998-01-02
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open                5284 non-null   float64
 1   high                5284 non-null   float64
 2   low                 5284 non-null   float64
 3   close               5284 non-null   float64
 4   volume              5284 non-null   float64
 5   close: 30 day mean  5255 non-null   float64
dtypes: float64(6)
memory usage: 289.0 KB

In [98]:
ds['volume']=ds['volume'].astype(str).str.replace(',','').astype(float)

In [91]:
test_set=ds['open']
test_set=pd.DataFrame(test_set)

In [92]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5284 entries, 2019-01-02 to 1998-01-02
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    5284 non-null   float64
dtypes: float64(1)
memory usage: 82.6 KB

In [93]:
dataset_total=pd.concat((ds['open'],ds['open']),axis=0)
inputs=dataset_total[len(dataset_total)-len(ds)-60:].values
inputs=inputs.reshape(-1,1)
inputs=sc.transform(inputs)
x_test=[]
for i in range(60,80):
    x_test.append(inputs[i-60:i,0])
x_test=np.array(x_test)
x_test=np.reshape(x_test,(x_test.shape[0],x_test.shape[1],1))
predicted_stock_price=regressor.predict(x_test)
predicted_stock_proce=sc.inverse_transform(predicted_stock_price)

In [94]:
predicted_stock_price=pd.DataFrame(predicted_stock_price)
predicted_stock_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float32
dtypes: float32(1)
memory usage: 208.0 bytes

In [100]:
plt.plot(stock_price,color='red',label='Real Microsoft Stock Price')
plt.plot(predicted_stock_price,color='blue',label='Predicted Microsoft Stock Price')
plt.title('Microsoft Stock Price Predictor')
plt.xlabel('time')
plt.ylabel('Microsoft Stock price')
plt.legend()
plt.show()